
<h1>Convert Tag</h1>
<div class="container" >
  <div class="row">
    <div class="col-md-6">
      <form #inputForm="ngForm" (ngSubmit)="onSubmit(inputForm)">

        <textarea id="w3mission" rows="30" cols="50" [(ngModel)]="inputText" name="inputText"></textarea>


        <div class="container">
          <button type="submit" class="btn btn-primary mr-5" [disabled]="!inputForm.form.valid">
            Convert
          </button>

          <button type="button" class="btn btn-danger" (click)="inputForm.reset()">
            Reset
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form #outputForm="ngForm" (ngSubmit)="onSubmit(outputForm)">
        <textarea id="w3mission" rows="30" cols="50"  [(ngModel)]="outputText" [ngModelOptions]="{standalone: true}" readonly></textarea>
      </form>
    </div>
  </div>
</div>






